/* ________FUENTES_______ */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/* _______General_______ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-optical-sizing: auto;
}

a,
span.swap {
    text-decoration: none;
    color: #FFFF;
    font-size: 14px;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p,
h1,
h2,
h3,
small,
label {
    color: #FFFF;
}

main {
    width: 100%;
    padding: 16px;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button .button {
    border: 2px solid yellow
}

.button img {
    width: 16px;
    height: 16px;
}

.button-secondary {
    padding: 10px 12px;
    /* color: black */
}

.button-secondary:hover {
    color: black;
    border-radius: 10px;
    background-color: gray;
}

@keyframes bg-pan-x {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* _______BODY_______ */

body {
    background: linear-gradient(90deg, #2A7B9B 0%, #57C785 60%, #EDDD53 100%);
    background-size: 300% 300%;
    background-repeat: no-repeat;
    animation: bg-pan-x 12s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* _______HEADER/FOOTER_______ */
header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px;
}

/* _______HEADER_______ */
header a {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

header a img {
    width: 50px;
    border-radius: 10px;
}

header nav {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

/* _______MAIN_______ */
.inicio {
    min-height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.inicio-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.logo-inicio {
    width: 150px;
}

.inicio p {
    padding-top: 12px
}

.links_inicio {

    display: flex;
    gap: 8px;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}


/* _______CARDS_______ */
.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #2e8b8d;
    border-bottom: 2px solid #2e8b8d;
    padding: 60px 0px;
}

.card {
    background: white;
    border: 2px solid#2e8b8d;
    border-radius: 20px;
    overflow: hidden;
    max-width: 300px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.card-content h3 {
    font-size: 24px;
    color: #2e8b8d;
}

.card-content p {
    font-size: 16px;
    color: #555;
}

/* _______FOOTER_______ */
.redes {
    display: flex;
    gap: 16px;

}

.redes img {
    width: 24px;
    height: 24px;
}


/* _______Form_______ */
.ingreso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);
}


.ingreso div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-ingreso {
    border: 2px solid white;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.card-ingreso form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.card-ingreso form input {
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
}

.ingreso .footer-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* .ingreso{

} */


.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.mis-gastos {
    grid-area: 1 / 2 / 3 / 3;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.mis-gastos .detalle {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 6px
}

.mis-gastos p {
    margin: 0px
}

.mis-gastos .detalle div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mis-gastos .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.conocenos {
    display: flex;
    flex-direction: column;
    grid-area: 3 / 2 / 4 / 3;
    justify-content: center;
    gap: 10px;
    max-height: 120px;
    padding: 5px;
}

.banner {
    grid-area: 5 / 1 / 6 / 3;
    max-height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner div {
    justify-content: center;
    align-items: center;
}

.dashboard {
    grid-area: 4 / 1 / 5 / 3;
    max-height: 200px;

}

.img-carr {
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.grupos {
    grid-area: 1 / 1 / 4 / 2;
    padding: 5px;
    max-height: 600px;
}

.grupos h3 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin: 2px 18px;
}

.background-cards {
    background: linear-gradient(135deg,
            rgba(109, 178, 162, 0.4),
            rgba(91, 163, 148, 0.4));
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.grupo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(135deg,
            rgba(109, 178, 162, 0.8),
            rgba(91, 163, 148, 0.8));
    padding: 10px;
    margin: 10px;
    border-radius: 12px;
    gap: 8px;
}

.grupo-card .detalle {
    display: flex;
    align-items: center;
    gap: 6px;
}

.grupo-card .detalle p {
    margin: 0px;
}

.miembros-grupo {
    display: flex;
    gap: 12px;
}

.miembros-grupo small {
    background-color: white;
    color: black;
    padding: 2px 12px;
    border-radius: 10px;
}


.bg-body-tertiary {
    background-color: #2A7B9B;
}

.nav-icon {
    width: 30px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .banner {
        padding: 20px;
        max-height: 170px;
    }

    .miembros-grupo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

}

@media (max-width: 950px){
    .section-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 12px;
    }

    .card {
        min-width: 200px;
    }
}

@media (max-width: 500px){
    .ingreso{
        min-height: 100%;
        min-width: 100%;
        align-items:normal;
    }

    .card-ingreso{
        border: none;
        padding: 0px;
        min-height: 100vh;
    }

    .card-ingreso form{
        width: 100%;
    }


    .mian{
        padding: 0px;
    }

    footer{
        display: none;
    }

    .card-ingreso form input{
        width: 100%;
    }
}