@use "../abstracts" as *;

.container-team {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-team{
    @extend %card-base;
}

.img-team-izq {
    @include img-cards(200px, 12px 0 0 12px)
}

.img-team-der {
    @include img-cards(200px, 0 12px 12px 0)
}