@use "../abstracts" as *;

.container-team {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-team {
    display: flex;
    width: 100%;
}

.info-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.img-team-izq {
    @include cards-team(200px, 12px 0 0 12px)
}

.img-team-der {
    @include cards-team(200px, 0 12px 12px 0)
}